body {
    color:darkslategray;
    background-color:beige;
    font-family: 'Alike Angular'
}
h1 {color:rgb(255, 139, 197); background-color: beige; font-family: 'Alike Angular'}
h2 {color:rgb(255, 139, 197); font-family: 'Alike Angular'}
h3 {color:rgb(255, 139, 197); font-family: 'Alike Angular'}
h4 {color:rgb(255, 139, 197); font-family: 'Alike Angular'}
h5 {color:rgb(255, 139, 197); font-family: 'Alike Angular'}
nav {
    padding:10px;
    margin-bottom:30px
    background-color:beige;}
nav a {color: rgb(152, 211, 231);}
nav {color:rgb(152, 211, 231);}
nav a:hover {background-color:lavender;}